nav{
    background-color: black;
}

#a1{
    position: relative;
    left: 590px;
}

nav  a{
    color: blanchedalmond;
    margin-left: 70px;
    
    
}

#cl1{
    position: relative;
    left: 170px;
    top: 60px;
}

#cl2{
    position: relative;
    top: 60px;
    left: 30px;
}

#cl3{
    position: relative;
    right: 110px;
    top: 60px;}


#cl4{
    position: relative;
    top: 80px;
    left: 165px;
}    
#cl5{
    position: relative;
    top: 80px;
    left: 30px;
}


#cl6{
    position: relative;
    top: 80px;
    right:110px ;
}


#cl7{
    position: relative;
    top: 100px;
    left: 165px;
}
#cl8{
    position: relative;
    top: 100px;
    left: 30px;
}

#cl9{
    position: relative;
    top: 100px;
    right: 110px;
}